{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
<button type="submit">Register!</button>
{{ form_end(form) }}